<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.poznan.put.student.mazurek.mieszko">

    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>

    <application
        android:allowBackup="false"
        android:label="putgame">
        <activity android:name=".MainActivity"
            android:theme="@style/putgame_style"
            android:launchMode="singleTask"
            android:configChanges="orientation|keyboardHidden"
            android:icon="@drawable/putgamelogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
